<div class="slide-out-panel">

    <div class="button-row">
      <a (click)="LoggingService.logButtonClick('Slide Out: LinkedIn')" href="https://linkedin.com/in/chris-royall" target="_blank"><i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn</a>
    </div>
  
    <div class="button-row">
      <a (click)="LoggingService.logButtonClick('Slide Out: GitHub')" href="https://github.com/chris-royall" target="_blank"><i class="fa-brands fa-square-github"></i>&nbsp;GitHub</a>
    </div>

    <div class="button-row">
      <a (click)="LoggingService.logButtonClick('Slide Out: Credly')" href="https://www.credly.com/users/chris-royall" target="_blank"><i class="fa-solid fa-square-check"></i>&nbsp;Credly</a>
    </div>
    
</div>