<nav class="navbar">
    <div class="navbar-left">
    </div>
    <div class="navbar-right">
        <!-- When "Contact" button is selected, showPopup in popupControlService is triggered -->
        <a (click)="popupControlService.showPopup()"><i class="fa-solid fa-square-envelope"></i>&nbsp;Contact</a>
        <a href="https://linkedin.com/in/chris-royall" target="_blank"><i class="fa-brands fa-linkedin"></i>&nbsp;LinkedIn</a>
        <a href="https://github.com/chris-royall" target="_blank"><i class="fa-brands fa-square-github"></i>&nbsp;GitHub</a>
        <a href="https://www.credly.com/users/chris-royall" target="_blank"><i class="fa-solid fa-square-check"></i>&nbsp;Credly</a>
    </div>
</nav>