<div class="container">

    <div class="inner-container">
        <h2>Angular Web Application</h2>
        <p>Angular (HTML, CSS, TypeScript), GitHub, AWS Amplify</p>
        <div class="button-container">
            <a (click)="LoggingService.logButtonClick('Project: Angular Web Application')" href="https://github.com/chris-royall/portfolio" target="blank"><button>GitHub Repository</button></a>
        </div>
    </div>

    <div class="inner-container">
        <h2>Contact Form Email</h2>
        <p>AWS: API Gateway, Lambda, Simple Email Service</p>
        <div class="button-container">
            <a (click)="LoggingService.logButtonClick('Project: Contact Form Email')" href="https://github.com/chris-royall/portfolio#contact-form-email" target="blank"><button>GitHub Repository</button></a>
        </div>
    </div>

    <div class="inner-container">
        <h2>Logging</h2>
        <p>AWS: Lambda, CloudWatch, Kinesis, S3</p>
        <div class="button-container">
            <a (click)="LoggingService.logButtonClick('Project: Logging')" href="https://github.com/chris-royall/portfolio#logging" target="blank"><button>GitHub Repository</button></a>
        </div>
    </div>


</div>