<div class="primary_badges-container">
  <a (click)="LoggingService.logButtonClick('Badge: microsoft-365-certified-fundamentals')" href="https://learn.microsoft.com/api/credentials/share/en-gb/ChristopherRoyall-5637/F722D868FA9BA4ED?sharingId=9998F707F4431F17" target="_blank" class="primary_badges">
    <img src="../assets/images/primary_badges/microsoft-365-certified-fundamentals.png" alt="microsoft-365-certified-fundamentals"/>
  </a>
  <a (click)="LoggingService.logButtonClick('Badge: microsoft-365-certified-teams-administrator-associate')" href="https://learn.microsoft.com/api/credentials/share/en-gb/ChristopherRoyall-5637/9D221D3A52C63080?sharingId=9998F707F4431F17" target="_blank" class="primary_badges">
    <img src="../assets/images/primary_badges/microsoft-365-certified-teams-administrator-associate.png" alt="microsoft-365-certified-teams-administrator-associate"/>
  </a>
  <a (click)="LoggingService.logButtonClick('Badge: microsoft-certified-azure-fundamentals')" href="https://learn.microsoft.com/api/credentials/share/en-gb/ChristopherRoyall-5637/89269917581C4823?sharingId=9998F707F4431F17" target="_blank" class="primary_badges">
    <img src="../assets/images/primary_badges/microsoft-certified-azure-fundamentals.png" alt="microsoft-certified-azure-fundamentals"/>
  </a>
  <a (click)="LoggingService.logButtonClick('Badge: aws-certified-cloud-practitioner')" href="https://www.credly.com/badges/c7601def-caa2-49a4-9873-8cc98ac67446/public_url" target="_blank" class="primary_badges">
    <img src="../assets/images/primary_badges/aws-certified-cloud-practitioner v2.png" alt="aws-certified-cloud-practitioner"/>
  </a>
</div>