<div class="primary_badges-container">
    <a href="https://www.credly.com/badges/4f13bd7d-88fb-48a0-af82-0acf0f7416ad/public_url" target="_blank" class="primary_badges">
      <img src="../assets/images/primary_badges/microsoft-365-certified-fundamentals.png" alt="microsoft-365-certified-fundamentals"/>
    </a>
    <a href="https://www.credly.com/badges/51a0185b-4b60-415b-8e51-c6e9f0d0b06a/public_url" target="_blank" class="primary_badges">
      <img src="../assets/images/primary_badges/microsoft-365-certified-teams-administrator-associate.png" alt="microsoft-365-certified-teams-administrator-associate"/>
    </a>
    <a href="https://www.credly.com/badges/70f17f9c-d84d-4c8a-9322-8313b86c8646/public_url" target="_blank" class="primary_badges">
      <img src="../assets/images/primary_badges/microsoft-certified-azure-fundamentals.png" alt="microsoft-certified-azure-fundamentals"/>
    </a>
    <a href="https://www.credly.com/badges/c7601def-caa2-49a4-9873-8cc98ac67446/public_url" target="_blank" class="primary_badges">
      <img src="../assets/images/primary_badges/aws-certified-cloud-practitioner v2.png" alt="aws-certified-cloud-practitioner"/>
    </a>
  </div>