<div class="secondary_badges-container">
    <a (click)="LoggingService.logButtonClick('Badge: aws-cloud-quest-cloud-practitioner')" href="https://www.credly.com/badges/a41964c2-fa5e-4a70-9679-f54e1716f80d/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-cloud-quest-cloud-practitioner.png" alt="aws-cloud-quest-cloud-practitioner"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-knowledge-cloud-essentials')" href="https://www.credly.com/badges/bf7123f8-d6fa-4668-a586-297a335a77ee/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-knowledge-cloud-essentials.png" alt="aws-knowledge-cloud-essentials"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-introduction-to-cloud-101')" href="https://www.credly.com/badges/b489d308-1721-420c-80e9-4451fa8c2df0/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-introduction-to-cloud-101.png" alt="aws-educate-introduction-to-cloud-101"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-getting-started-with-cloud-ops')" href="https://www.credly.com/badges/6fddf01b-631e-4ebe-92e9-b940094ded6c/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-getting-started-with-cloud-ops.png" alt="aws-educate-getting-started-with-cloud-ops"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-getting-started-with-compute')" href="https://www.credly.com/badges/4c6fe732-2605-481f-b2a2-270a72cdddad/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-getting-started-with-compute.png" alt="aws-educate-getting-started-with-compute"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-getting-started-with-databases')" href="https://www.credly.com/badges/7ca8e1e6-5471-404c-930a-f1fada61469f/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-getting-started-with-databases.png" alt="aws-educate-getting-started-with-databases"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-getting-started-with-networking')" href="https://www.credly.com/badges/f29cbe64-5213-446a-9bbb-9e0c4184f84b/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-getting-started-with-networking.png" alt="aws-educate-getting-started-with-networking"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-getting-started-with-security')" href="https://www.credly.com/badges/6795cd0e-d12c-482d-9eca-b74c0410d038/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-getting-started-with-security.png" alt="aws-educate-getting-started-with-security"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-getting-started-with-serverless')" href="https://www.credly.com/badges/1779a440-3a8f-406c-afac-c0d682034110/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-getting-started-with-serverless.png" alt="aws-educate-getting-started-with-serverless"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-getting-started-with-storage')" href="https://www.credly.com/badges/0f57a79a-f2e8-46dd-b4a9-0da4d2dd479b/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-getting-started-with-storage.png" alt="aws-educate-getting-started-with-storage"/>
    </a>
    <a (click)="LoggingService.logButtonClick('Badge: aws-educate-machine-learning-foundations')" href="https://www.credly.com/badges/99b1f1c8-2759-4567-bca9-ab45c8c692e2/public_url" target="_blank" class="secondary_badges">
      <img src="../assets/images/secondary_badges/aws-educate-machine-learning-foundations.png" alt="aws-educate-machine-learning-foundations"/>
    </a>

  </div>